html, body, #app {
    height: 100%;
    margin: 0;
}

.navbar {
    padding: 50px !important;
}

.btn-group {
    display: flex;
}

.action-dropdown,
.form-control,
.input-group {
    border: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.container .btn.action-btn {
    padding: 0.5rem 1rem;
    font-size: 20px;
    width: 100%;
}

.container .btn.action-btn.btn-primary {
    background: #2e3191;
    border-color: #2e3191;
}

.container .btn.action-btn:hover {
    opacity: 0.9;
}

.action-dropdown::after {
    border: none !important;
    content: "expand_more";
    font-family: "Material Symbols Outlined";
    font-size: 35px;
    position: absolute;
    right: 7px;
    top: 0;
}

.btn:hover {
    border-color: #ccc !important;
}

ul.dropdown-menu.show {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
    flex-flow: column;
}

ul.dropdown-menu.show li {
    background: whitesmoke;
    border-radius: 5px;
    flex: 1;
}

a.dropdown-item {
    border-radius: 5px;
    text-align: center;
}

.action-wrapper {
    border-radius: 10px;
    border-bottom: 2px solid #ececec;
}

.signed-ip {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
}

.results-container {
    margin-top: 10px;
    background: #f6f6f6;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
    position: relative;
}

.results-container .results-item {
    padding: 10px 15px;
    border-bottom: 1px #ccc dashed;
}

.results-container .results-item:last-child {
    border-bottom: none;
}

.results-container .results-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.results-container .results-item ul li {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

.results-container .results-item ul li span.title {
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
    width: 24%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.results-container .results-item ul li span.text {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.action-wrapper pre {
    background: #e5e5e5;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.input-group {
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.input-group input {
    border: none !important;
    outline: none !important;
    flex: 1;
    padding: 10px 15px;
    font-size: 20px;
}

.input-group .btn {
    background: #2e3191;
    color: white;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px !important;
}

.action-wrapper textarea {
    width: 100%;
    padding: 18px;
    height: 240px;
}